# Virtual environment
.qevenv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# pyenv
.python-version

.egg-info/

*.keras
*.tflite`
models/cloudnet/data/*